.odobravanjeContainer{
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: auto;
    margin-top: 100px;
    background-color: black;
    border-radius: 100px;
    row-gap: 20px;
}
.odobravanjeContainer label:hover{
    cursor: pointer;
}